<!DOCTYPE html>
<html lang="en">
  <head data-hook="admin_inside_head">
    <div th:replace="fragments/head :: head">
    </div>
  </head>

  <body class="admin">

    <div id="progress">
      <div class="alert alert-info alert-progress">
        <div class="spinner">Loading...</div>
        <div class="progress-message">Loading...</div>
      </div>
    </div>

    <header th:replace="fragments/header :: header">
    </header>

    <div id="wrapper" class="container-fluid ">
      <div class="row">

        <div class="col-sm-3 col-md-2 hidden-xs sidebar" id="main-sidebar" data-hook="admin_tabs" th:include="fragments/main_menu :: main_menu">
          our main menu
        </div>
          <th:block layout:fragment="content">
            <div>
              put content here!
            </div>
          </th:block>
      </div>
    </div>

    <div data-hook="admin_footer_scripts"></div>
  </body>
</html>
