<th:block layout:fragment="content">
                <div class="filter-wrap row">
    <div class="col-sm-12">
      <div class="input-group index-filter-button">
        <span class="input-group-btn">
          <button class="btn btn-default js-show-index-filters" type="button">
            <span class="icon icon-chevron-right"></span>
            Filter
          </button>
        </span>
        <form id="quick-search" action="/admin/products" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ==">
          <input type="text" name="quick_search" id="quick_search" class="form-control js-quick-search" placeholder="Quick search..">
</form>      </div>
        <div id="table-filter" data-hook="" class="well filter-well">
            <div data-hook="admin_products_sidebar">

    <form class="spree/product_search" id="spree/product_search" action="/admin/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
      <div data-hook="admin_products_index_search" class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="q_name_cont">Name</label>
            <input size="15" class="form-control js-quick-search-target" type="text" name="q[name_cont]" id="q_name_cont">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="q_variants_including_master_sku_cont">SKU</label>
            <input size="15" class="form-control" type="text" name="q[variants_including_master_sku_cont]" id="q_variants_including_master_sku_cont">
          </div>
        </div>
        <div class="col-md-12">
          <div class="field checkbox">
            <label>
              <input name="q[deleted_at_null]" type="hidden" value="1"><input type="checkbox" value="0" name="q[deleted_at_null]" id="q_deleted_at_null">
              Show Deleted
            </label>
          </div>

          <div class="field checkbox">
            <label>
              <input name="q[not_discontinued]" type="hidden" value="1"><input type="checkbox" value="0" name="q[not_discontinued]" id="q_not_discontinued">
              Show Discontinued
            </label>
          </div>
        </div>
      </div>
      <div data-hook="admin_products_index_search_buttons" class="form-actions">
        <button name="button" type="submit" class="btn btn-primary " data-disable-with="Saving..."><span class="icon icon-search"></span> Search</button>
      </div>
<input type="hidden" name="per_page" value="25"></form>
  </div>

        </div>
    </div>
  </div>

  <div class="table-active-filters js-filters"></div>

              




<div class="row index-pagination-row">
  <div class="col-sm-6">
    
  </div>
  <div class="col-sm-6">
    <div class="pagination-wrap">
      <form class="js-per-page-form form-inline" action="/admin/products?q%5Bdeleted_at_null%5D=1&amp;q%5Bnot_discontinued%5D=1&amp;q%5Bs%5D=name+asc" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <select name="per_page" id="per_page" class="form-control pull-right js-per-page-select per-page-selected-25"><option selected="selected" value="25">25</option>
<option value="50">50</option>
<option value="75">75</option>
<option value="100">100</option>
<option value="125">125</option></select>
</form>      <div class="clearfix"></div>
    </div>
  </div>
</div>


  <table class="table" id="listing_products">
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th>SKU</th>
        <th>Status</th>

        <th colspan="2"><a title="admin_products_listing_name_title" class="sort_link asc" href="/admin/products?q%5Bdeleted_at_null%5D=1&amp;q%5Bnot_discontinued%5D=1&amp;q%5Bs%5D=name+desc">Name<span class="icon icon-chevron-up"></span></a></th>
        <th class="text-center">
          <a title="admin_products_listing_price_title" class="sort_link " href="/admin/products?q%5Bdeleted_at_null%5D=1&amp;q%5Bnot_discontinued%5D=1&amp;q%5Bs%5D=master_default_price_amount+asc">Master Price</a>
        </th>
        <th data-hook="admin_products_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
          <tr id="spree_product_7" data-hook="admin_products_index_rows" class="odd">
            <td class="sku">APC-00001</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Apache Baseball Jersey" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/apache-baseball-jersey/edit">Apache Baseball Jersey</a></td>
            <td class="text-center">$19.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/apache-baseball-jersey/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/apache-baseball-jersey/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/apache-baseball-jersey" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_6" data-hook="admin_products_index_rows" class="even">
            <td class="sku">RUB-00001</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Ruby Baseball Jersey" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/ruby-baseball-jersey/edit">Ruby Baseball Jersey</a></td>
            <td class="text-center">$19.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/ruby-baseball-jersey/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/ruby-baseball-jersey/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/ruby-baseball-jersey" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_2" data-hook="admin_products_index_rows" class="odd">
            <td class="sku">ROR-00012</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Ruby on Rails Bag" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/ruby-on-rails-bag/edit">Ruby on Rails Bag</a></td>
            <td class="text-center">$22.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-bag/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/ruby-on-rails-bag/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-bag" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_3" data-hook="admin_products_index_rows" class="even">
            <td class="sku">ROR-001</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Ruby on Rails Baseball Jersey" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/ruby-on-rails-baseball-jersey/edit">Ruby on Rails Baseball Jersey</a></td>
            <td class="text-center">$19.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-baseball-jersey/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/ruby-on-rails-baseball-jersey/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-baseball-jersey" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_4" data-hook="admin_products_index_rows" class="odd">
            <td class="sku">ROR-00013</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Ruby on Rails Jr. Spaghetti" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/ruby-on-rails-jr-spaghetti/edit">Ruby on Rails Jr. Spaghetti</a></td>
            <td class="text-center">$19.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-jr-spaghetti/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/ruby-on-rails-jr-spaghetti/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-jr-spaghetti" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_13" data-hook="admin_products_index_rows" class="even">
            <td class="sku">ROR-00014</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Ruby on Rails Mug" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/ruby-on-rails-mug/edit">Ruby on Rails Mug</a></td>
            <td class="text-center">$13.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-mug/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/ruby-on-rails-mug/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-mug" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_5" data-hook="admin_products_index_rows" class="odd">
            <td class="sku">ROR-00015</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Ruby on Rails Ringer T-Shirt" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/ruby-on-rails-ringer-t-shirt/edit">Ruby on Rails Ringer T-Shirt</a></td>
            <td class="text-center">$19.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-ringer-t-shirt/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/ruby-on-rails-ringer-t-shirt/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-ringer-t-shirt" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_14" data-hook="admin_products_index_rows" class="even">
            <td class="sku">ROR-00016</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Ruby on Rails Stein" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/ruby-on-rails-stein/edit">Ruby on Rails Stein</a></td>
            <td class="text-center">$16.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-stein/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/ruby-on-rails-stein/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-stein" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_1" data-hook="admin_products_index_rows" class="odd">
            <td class="sku">ROR-00011</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Ruby on Rails Tote" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/ruby-on-rails-tote/edit">Ruby on Rails Tote</a></td>
            <td class="text-center">$15.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-tote/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/ruby-on-rails-tote/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/ruby-on-rails-tote" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_12" data-hook="admin_products_index_rows" class="even">
            <td class="sku">SPR-00012</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Spree Bag" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/spree-bag/edit">Spree Bag</a></td>
            <td class="text-center">$22.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/spree-bag/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/spree-bag/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/spree-bag" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_8" data-hook="admin_products_index_rows" class="odd">
            <td class="sku">SPR-00001</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Spree Baseball Jersey" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/spree-baseball-jersey/edit">Spree Baseball Jersey</a></td>
            <td class="text-center">$19.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/spree-baseball-jersey/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/spree-baseball-jersey/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/spree-baseball-jersey" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_9" data-hook="admin_products_index_rows" class="even">
            <td class="sku">SPR-00013</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Spree Jr. Spaghetti" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/spree-jr-spaghetti/edit">Spree Jr. Spaghetti</a></td>
            <td class="text-center">$19.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/spree-jr-spaghetti/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/spree-jr-spaghetti/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/spree-jr-spaghetti" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_16" data-hook="admin_products_index_rows" class="odd">
            <td class="sku">SPR-00014</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Spree Mug" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/spree-mug/edit">Spree Mug</a></td>
            <td class="text-center">$13.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/spree-mug/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/spree-mug/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/spree-mug" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_10" data-hook="admin_products_index_rows" class="even">
            <td class="sku">SPR-00015</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Spree Ringer T-Shirt" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/spree-ringer-t-shirt/edit">Spree Ringer T-Shirt</a></td>
            <td class="text-center">$19.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/spree-ringer-t-shirt/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/spree-ringer-t-shirt/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/spree-ringer-t-shirt" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_15" data-hook="admin_products_index_rows" class="odd">
            <td class="sku">SPR-00016</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Spree Stein" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/spree-stein/edit">Spree Stein</a></td>
            <td class="text-center">$16.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/spree-stein/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/spree-stein/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/spree-stein" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
          <tr id="spree_product_11" data-hook="admin_products_index_rows" class="even">
            <td class="sku">SPR-00011</td>
            <td class="status">Available </td>
            <td class="image"><img alt="Spree Tote" src="/assets/noimage/mini-d5d987414566f22657bbe0b08a980ddb4230d156845a31ab3cad0a0825016ce8.png"></td>
            <td><a href="/admin/products/spree-tote/edit">Spree Tote</a></td>
            <td class="text-center">$15.99</td>
            <td class="actions actions-3 text-right" data-hook="admin_products_index_row_actions">
              <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" data-action="edit" title="" href="http://10.154.30.50:3000/admin/products/spree-tote/edit" data-original-title="Edit"><span class="icon icon-edit"></span> </a>
              <form class="display-inline" action="http://10.154.30.50:3000/admin/products/spree-tote/clone" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="28A8HZ2API0qx1PccEV+ds8vdJ+p1Xs0O5aKffmCcj30PHXukNZ27nAbJvbE0ogwVdWr6exVA4zAGEwDMMcCtQ=="><button name="button" no_text="true" class="btn btn-primary btn btn-primary btn-sm with-tip" data-disable-with="Saving..." data-original-title="" title=""><span class="icon icon-clone"></span> </button></form>
              <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-confirm="Are you sure?" data-action="remove" title="" href="http://10.154.30.50:3000/admin/products/spree-tote" data-original-title="Delete"><span class="icon icon-delete"></span> </a>
            </td>
          </tr>
    </tbody>
  </table>



<div class="row index-pagination-row">
  <div class="col-sm-6">
    
  </div>
  <div class="col-sm-6">
    <div class="pagination-wrap">
      <form class="js-per-page-form form-inline" action="/admin/products?q%5Bdeleted_at_null%5D=1&amp;q%5Bnot_discontinued%5D=1&amp;q%5Bs%5D=name+asc" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <select name="per_page" id="per_page" class="form-control pull-right js-per-page-select per-page-selected-25"><option selected="selected" value="25">25</option>
<option value="50">50</option>
<option value="75">75</option>
<option value="100">100</option>
<option value="125">125</option></select>
</form>      <div class="clearfix"></div>
    </div>
  </div>
</div>


    </th:block>
