<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimill.sunmall.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.wimill.sunmall.model.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="available_on" jdbcType="TIMESTAMP" property="availableOn" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="meta_description" jdbcType="VARCHAR" property="metaDescription" />
    <result column="meta_keywords" jdbcType="VARCHAR" property="metaKeywords" />
    <result column="tax_category_id" jdbcType="INTEGER" property="taxCategoryId" />
    <result column="shipping_category_id" jdbcType="INTEGER" property="shippingCategoryId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="promotionable" jdbcType="BIT" property="promotionable" />
    <result column="meta_title" jdbcType="VARCHAR" property="metaTitle" />
    <result column="discontinue_on" jdbcType="TIMESTAMP" property="discontinueOn" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.wimill.sunmall.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="available_on" jdbcType="TIMESTAMP" property="availableOn" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="meta_description" jdbcType="VARCHAR" property="metaDescription" />
    <result column="meta_keywords" jdbcType="VARCHAR" property="metaKeywords" />
    <result column="tax_category_id" jdbcType="INTEGER" property="taxCategoryId" />
    <result column="shipping_category_id" jdbcType="INTEGER" property="shippingCategoryId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="promotionable" jdbcType="BIT" property="promotionable" />
    <result column="meta_title" jdbcType="VARCHAR" property="metaTitle" />
    <result column="discontinue_on" jdbcType="TIMESTAMP" property="discontinueOn" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from public.spree_products
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wimill.sunmall.model.Product">
    insert into public.spree_products (id, name, description, 
      available_on, deleted_at, slug, 
      meta_description, meta_keywords, tax_category_id, 
      shipping_category_id, created_at, updated_at, 
      promotionable, meta_title, discontinue_on
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{availableOn,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP}, #{slug,jdbcType=VARCHAR}, 
      #{metaDescription,jdbcType=VARCHAR}, #{metaKeywords,jdbcType=VARCHAR}, #{taxCategoryId,jdbcType=INTEGER}, 
      #{shippingCategoryId,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{promotionable,jdbcType=BIT}, #{metaTitle,jdbcType=VARCHAR}, #{discontinueOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wimill.sunmall.model.Product">
    update public.spree_products
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      available_on = #{availableOn,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      slug = #{slug,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      tax_category_id = #{taxCategoryId,jdbcType=INTEGER},
      shipping_category_id = #{shippingCategoryId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      promotionable = #{promotionable,jdbcType=BIT},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      discontinue_on = #{discontinueOn,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, description, available_on, deleted_at, slug, meta_description, meta_keywords, 
    tax_category_id, shipping_category_id, created_at, updated_at, promotionable, meta_title, 
    discontinue_on
    from public.spree_products
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, description, available_on, deleted_at, slug, meta_description, meta_keywords, 
    tax_category_id, shipping_category_id, created_at, updated_at, promotionable, meta_title, 
    discontinue_on
    from public.spree_products
  </select>
  <resultMap id="BaseResultMap" type="com.wimill.sunmall.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="available_on" jdbcType="TIMESTAMP" property="availableOn" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="meta_description" jdbcType="VARCHAR" property="metaDescription" />
    <result column="meta_keywords" jdbcType="VARCHAR" property="metaKeywords" />
    <result column="tax_category_id" jdbcType="INTEGER" property="taxCategoryId" />
    <result column="shipping_category_id" jdbcType="INTEGER" property="shippingCategoryId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="promotionable" jdbcType="BIT" property="promotionable" />
    <result column="meta_title" jdbcType="VARCHAR" property="metaTitle" />
    <result column="discontinue_on" jdbcType="TIMESTAMP" property="discontinueOn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, available_on, deleted_at, slug, meta_description, meta_keywords, 
    tax_category_id, shipping_category_id, created_at, updated_at, promotionable, meta_title, 
    discontinue_on
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.spree_products
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from public.spree_products
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wimill.sunmall.model.Product">
    insert into public.spree_products (id, name, description, 
      available_on, deleted_at, slug, 
      meta_description, meta_keywords, tax_category_id, 
      shipping_category_id, created_at, updated_at, 
      promotionable, meta_title, discontinue_on
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{availableOn,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP}, #{slug,jdbcType=VARCHAR}, 
      #{metaDescription,jdbcType=VARCHAR}, #{metaKeywords,jdbcType=VARCHAR}, #{taxCategoryId,jdbcType=INTEGER}, 
      #{shippingCategoryId,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{promotionable,jdbcType=BIT}, #{metaTitle,jdbcType=VARCHAR}, #{discontinueOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wimill.sunmall.model.Product">
    insert into public.spree_products
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="availableOn != null">
        available_on,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
      <if test="slug != null">
        slug,
      </if>
      <if test="metaDescription != null">
        meta_description,
      </if>
      <if test="metaKeywords != null">
        meta_keywords,
      </if>
      <if test="taxCategoryId != null">
        tax_category_id,
      </if>
      <if test="shippingCategoryId != null">
        shipping_category_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="promotionable != null">
        promotionable,
      </if>
      <if test="metaTitle != null">
        meta_title,
      </if>
      <if test="discontinueOn != null">
        discontinue_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="availableOn != null">
        #{availableOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="slug != null">
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="taxCategoryId != null">
        #{taxCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shippingCategoryId != null">
        #{shippingCategoryId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionable != null">
        #{promotionable,jdbcType=BIT},
      </if>
      <if test="metaTitle != null">
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="discontinueOn != null">
        #{discontinueOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wimill.sunmall.model.Product">
    update public.spree_products
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="availableOn != null">
        available_on = #{availableOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="slug != null">
        slug = #{slug,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        meta_description = #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="taxCategoryId != null">
        tax_category_id = #{taxCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shippingCategoryId != null">
        shipping_category_id = #{shippingCategoryId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionable != null">
        promotionable = #{promotionable,jdbcType=BIT},
      </if>
      <if test="metaTitle != null">
        meta_title = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="discontinueOn != null">
        discontinue_on = #{discontinueOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wimill.sunmall.model.Product">
    update public.spree_products
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      available_on = #{availableOn,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      slug = #{slug,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      tax_category_id = #{taxCategoryId,jdbcType=INTEGER},
      shipping_category_id = #{shippingCategoryId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      promotionable = #{promotionable,jdbcType=BIT},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      discontinue_on = #{discontinueOn,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.wimill.sunmall.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="available_on" jdbcType="TIMESTAMP" property="availableOn" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="meta_description" jdbcType="VARCHAR" property="metaDescription" />
    <result column="meta_keywords" jdbcType="VARCHAR" property="metaKeywords" />
    <result column="tax_category_id" jdbcType="INTEGER" property="taxCategoryId" />
    <result column="shipping_category_id" jdbcType="INTEGER" property="shippingCategoryId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="promotionable" jdbcType="BIT" property="promotionable" />
    <result column="meta_title" jdbcType="VARCHAR" property="metaTitle" />
    <result column="discontinue_on" jdbcType="TIMESTAMP" property="discontinueOn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, available_on, deleted_at, slug, meta_description, meta_keywords, 
    tax_category_id, shipping_category_id, created_at, updated_at, promotionable, meta_title, 
    discontinue_on
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.spree_products
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from public.spree_products
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wimill.sunmall.model.Product">
    insert into public.spree_products (id, name, description, 
      available_on, deleted_at, slug, 
      meta_description, meta_keywords, tax_category_id, 
      shipping_category_id, created_at, updated_at, 
      promotionable, meta_title, discontinue_on
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{availableOn,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP}, #{slug,jdbcType=VARCHAR}, 
      #{metaDescription,jdbcType=VARCHAR}, #{metaKeywords,jdbcType=VARCHAR}, #{taxCategoryId,jdbcType=INTEGER}, 
      #{shippingCategoryId,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{promotionable,jdbcType=BIT}, #{metaTitle,jdbcType=VARCHAR}, #{discontinueOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wimill.sunmall.model.Product">
    insert into public.spree_products
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="availableOn != null">
        available_on,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
      <if test="slug != null">
        slug,
      </if>
      <if test="metaDescription != null">
        meta_description,
      </if>
      <if test="metaKeywords != null">
        meta_keywords,
      </if>
      <if test="taxCategoryId != null">
        tax_category_id,
      </if>
      <if test="shippingCategoryId != null">
        shipping_category_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="promotionable != null">
        promotionable,
      </if>
      <if test="metaTitle != null">
        meta_title,
      </if>
      <if test="discontinueOn != null">
        discontinue_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="availableOn != null">
        #{availableOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="slug != null">
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="taxCategoryId != null">
        #{taxCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shippingCategoryId != null">
        #{shippingCategoryId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionable != null">
        #{promotionable,jdbcType=BIT},
      </if>
      <if test="metaTitle != null">
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="discontinueOn != null">
        #{discontinueOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wimill.sunmall.model.Product">
    update public.spree_products
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="availableOn != null">
        available_on = #{availableOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="slug != null">
        slug = #{slug,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        meta_description = #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="taxCategoryId != null">
        tax_category_id = #{taxCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shippingCategoryId != null">
        shipping_category_id = #{shippingCategoryId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionable != null">
        promotionable = #{promotionable,jdbcType=BIT},
      </if>
      <if test="metaTitle != null">
        meta_title = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="discontinueOn != null">
        discontinue_on = #{discontinueOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wimill.sunmall.model.Product">
    update public.spree_products
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      available_on = #{availableOn,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      slug = #{slug,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      tax_category_id = #{taxCategoryId,jdbcType=INTEGER},
      shipping_category_id = #{shippingCategoryId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      promotionable = #{promotionable,jdbcType=BIT},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      discontinue_on = #{discontinueOn,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.wimill.sunmall.model.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="available_on" jdbcType="TIMESTAMP" property="availableOn" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="meta_description" jdbcType="VARCHAR" property="metaDescription" />
    <result column="meta_keywords" jdbcType="VARCHAR" property="metaKeywords" />
    <result column="tax_category_id" jdbcType="INTEGER" property="taxCategoryId" />
    <result column="shipping_category_id" jdbcType="INTEGER" property="shippingCategoryId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="promotionable" jdbcType="BIT" property="promotionable" />
    <result column="meta_title" jdbcType="VARCHAR" property="metaTitle" />
    <result column="discontinue_on" jdbcType="TIMESTAMP" property="discontinueOn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, available_on, deleted_at, slug, meta_description, meta_keywords, 
    tax_category_id, shipping_category_id, created_at, updated_at, promotionable, meta_title, 
    discontinue_on
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from public.spree_products
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from public.spree_products
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wimill.sunmall.model.Product">
    insert into public.spree_products (id, name, description, 
      available_on, deleted_at, slug, 
      meta_description, meta_keywords, tax_category_id, 
      shipping_category_id, created_at, updated_at, 
      promotionable, meta_title, discontinue_on
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{availableOn,jdbcType=TIMESTAMP}, #{deletedAt,jdbcType=TIMESTAMP}, #{slug,jdbcType=VARCHAR}, 
      #{metaDescription,jdbcType=VARCHAR}, #{metaKeywords,jdbcType=VARCHAR}, #{taxCategoryId,jdbcType=INTEGER}, 
      #{shippingCategoryId,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{promotionable,jdbcType=BIT}, #{metaTitle,jdbcType=VARCHAR}, #{discontinueOn,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wimill.sunmall.model.Product">
    insert into public.spree_products
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="availableOn != null">
        available_on,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
      <if test="slug != null">
        slug,
      </if>
      <if test="metaDescription != null">
        meta_description,
      </if>
      <if test="metaKeywords != null">
        meta_keywords,
      </if>
      <if test="taxCategoryId != null">
        tax_category_id,
      </if>
      <if test="shippingCategoryId != null">
        shipping_category_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="promotionable != null">
        promotionable,
      </if>
      <if test="metaTitle != null">
        meta_title,
      </if>
      <if test="discontinueOn != null">
        discontinue_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="availableOn != null">
        #{availableOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="slug != null">
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="taxCategoryId != null">
        #{taxCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shippingCategoryId != null">
        #{shippingCategoryId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionable != null">
        #{promotionable,jdbcType=BIT},
      </if>
      <if test="metaTitle != null">
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="discontinueOn != null">
        #{discontinueOn,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wimill.sunmall.model.Product">
    update public.spree_products
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="availableOn != null">
        available_on = #{availableOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="slug != null">
        slug = #{slug,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        meta_description = #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="taxCategoryId != null">
        tax_category_id = #{taxCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shippingCategoryId != null">
        shipping_category_id = #{shippingCategoryId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionable != null">
        promotionable = #{promotionable,jdbcType=BIT},
      </if>
      <if test="metaTitle != null">
        meta_title = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="discontinueOn != null">
        discontinue_on = #{discontinueOn,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wimill.sunmall.model.Product">
    update public.spree_products
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      available_on = #{availableOn,jdbcType=TIMESTAMP},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      slug = #{slug,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      tax_category_id = #{taxCategoryId,jdbcType=INTEGER},
      shipping_category_id = #{shippingCategoryId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      promotionable = #{promotionable,jdbcType=BIT},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      discontinue_on = #{discontinueOn,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>