<div class="col-sm-3 col-md-2 hidden-xs sidebar" id="main-sidebar" data-hook="admin_tabs" th:fragment="sidebar">
            <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item selected"><a class="icon-link with-tip action-shopping-cart" href="/admin/orders" data-original-title="" title=""><span class="icon icon-shopping-cart"></span> <span class="text">Orders</span></a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-returns"><span class="icon icon-transfer"></span><span class="text"> Returns</span><span class="icon icon-chevron-left pull-right"></span></a><ul id="sidebar-returns" class="collapse nav nav-pills nav-stacked" data-hook="admin_returns_sub_tabs">
  <li class="sidebar-menu-item"><a href="/admin/return_authorizations">Return Authorizations</a></li>
  <li class="sidebar-menu-item"><a href="/admin/customer_returns">Customer Returns</a></li>
</ul>
</li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-product"><span class="icon icon-th-large"></span><span class="text"> Products</span><span class="icon icon-chevron-left pull-right"></span></a><ul id="sidebar-product" class="collapse nav nav-pills nav-stacked" data-hook="admin_product_sub_tabs">
  <li class="sidebar-menu-item"><a href="/admin/products">Products</a></li>
  <li class="sidebar-menu-item"><a href="/admin/option_types">Option Types</a></li>
  <li class="sidebar-menu-item"><a href="/admin/properties">Properties</a></li>
  <li class="sidebar-menu-item"><a href="/admin/prototypes">Prototypes</a></li>
  <li class="sidebar-menu-item"><a href="/admin/taxonomies">Taxonomies</a></li>
  <li class="sidebar-menu-item"><a href="/admin/taxons">Taxons</a></li>
</ul>
</li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a class="icon-link with-tip action-file" href="/admin/reports" data-original-title="" title=""><span class="icon icon-file"></span> <span class="text">Reports</span></a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-promotions"><span class="icon icon-gift"></span><span class="text"> Promotions</span><span class="icon icon-chevron-left pull-right"></span></a><ul id="sidebar-promotions" class="collapse nav nav-pills nav-stacked" data-hook="admin_promotion_sub_tabs">
  <li class="sidebar-menu-item"><a href="/admin/promotions">Promotions</a></li>
  <li class="sidebar-menu-item"><a href="/admin/promotion_categories">Promotion Categories</a></li>
</ul>
</li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a class="icon-link with-tip action-user" href="/admin/users" data-original-title="" title=""><span class="icon icon-user"></span> <span class="text">Users</span></a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-configuration"><span class="icon icon-wrench"></span><span class="text"> Configurations</span><span class="icon icon-chevron-left pull-right"></span></a><ul data-hook="admin_configurations_sidebar_menu" class="collapse nav nav-pills nav-stacked" id="sidebar-configuration">
  <li class="sidebar-menu-item"><a href="/admin/general_settings/edit">General Settings</a></li>
  <li class="sidebar-menu-item"><a href="/admin/tax_categories">Tax Categories</a></li>
  <li class="sidebar-menu-item"><a href="/admin/tax_rates">Tax Rates</a></li>
  <li class="sidebar-menu-item"><a href="/admin/zones">Zones</a></li>
  <li class="sidebar-menu-item"><a href="/admin/countries">Countries</a></li>

    <li class="sidebar-menu-item"><a href="/admin/countries/232/states">States</a></li>

  <li class="sidebar-menu-item"><a href="/admin/payment_methods">Payment Methods</a></li>
  <li class="sidebar-menu-item"><a href="/admin/shipping_methods">Shipping Methods</a></li>
  <li class="sidebar-menu-item"><a href="/admin/shipping_categories">Shipping Categories</a></li>
  <li class="sidebar-menu-item"><a href="/admin/stock_transfers">Stock Transfers</a></li>
  <li class="sidebar-menu-item"><a href="/admin/stock_locations">Stock Locations</a></li>
  <li class="sidebar-menu-item"><a href="/admin/store_credit_categories">Store Credit Categories</a></li>
  <li class="sidebar-menu-item"><a href="/admin/trackers">Analytics Trackers</a></li>
  <li class="sidebar-menu-item"><a href="/admin/refund_reasons">Refund Reasons</a></li>
  <li class="sidebar-menu-item"><a href="/admin/reimbursement_types">Reimbursement Types</a></li>
  <li class="sidebar-menu-item"><a href="/admin/return_authorization_reasons">Return Authorization Reasons</a></li>
  <li class="sidebar-menu-item"><a href="/admin/roles">Roles</a></li>
</ul>
</li>
  </ul>

  <div class="spree-version hidden-xs hidden-sm">
    3.2.0
  </div>

        </div>
